  body {
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
  }

  #board {
    /* background-color: skyblue; */
    background-image: url(./assets/flappybirdbg.png);
  }

  .score {
    font-size: 2rem;
  }