  body {
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
  }

  #board {
    /* background-color: skyblue; */
    background-image: url(./assets/flappybirdbg.png);
  }

  .score {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    margin: auto;
    font-size: 2rem;
    width: 360px;
  }